@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body,#root {
  margin: 0;
  padding:0;
  border:none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #292929;
  color:#fff;
}

/* Creating container for forms */

.container {
  margin: 0 auto;
  padding:50px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap:50px;
}

/* Creating the forms */

.shop-form {
   padding: 15px;
   border:1px solid #dedede;
   border-radius: 10px;
   width: 45%;
}

/* Styling the form elements */

.shop-form label {
  display: block;
  margin-bottom: 10px;
}

.shop-form input {
  width: 70%;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  height: 20px;
}

.shop-form textarea {
  width: 70%;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  height: 40px;
}

.shop-form button {
  margin-left:10px;
  border:none;
  background:rgb(22, 22, 22);
  color:white;
  padding:5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  margin: 0 auto;
  width: 70%;
  background: rgb(122, 35, 35);
  color: white;
  border-radius: 6px;
  padding:5px 10px;
  margin-bottom: 10px;
}